.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #420356;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}
input{
  background: #000;
}
select{
  background-color: #43035687;
}
.modal label {
  display: block;
  margin-top: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}
