
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import "tailwindcss";

 
button:hover {
  border-color: #646cff;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

:root{
  font-family:'Poppins'
}

@theme{
    --main-border:1px ;
    --main-border-color: #E4A02D;
    --left-bg-color: rgba(32, 11, 51, 1);
    --font-poppins:"Poppins";
}
@layer components{


   .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(64 / 16 * 1rem);
    z-index:0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-inline: calc(24 / 16 * 1rem);
   
  }
.app-header button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #19ab1b;
  cursor: pointer;
  transition: border-color 0.25s;
}
  .app-header-right {
    display: flex;
    gap: calc(16 / 16 * 1rem);
    align-items: center;
  }

  .app-header-offset {
    padding-top: calc(64 / 16 * 1rem);
  }

.modal-box{
    /* w-[60vw]  */
    width: 60vw;
    height:80vh;
    max-width: 900px;
     display: flex; 
     border-radius: 2%;
}
/* .overlay{
    position: fixed;
    
    inset:0px;
  z-index:20;
    background-color:blanchedalmond;

    
    display:flex;
     justify-content:center;
     align-items: center;
} */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;

  /* dark transparent background */
  background: rgba(0, 0, 0, 0.45);

  /* blur background content */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  /* center modal */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
    width: calc(300/16*1rem);
font-size: calc(27/16*1rem);
/* display: flex; */
/* justify-content: center;
align-items: center; */
text-align: center;
vertical-align: middle;
font-weight: 600;
top: calc(100/16*1rem);

}
.login-border{
    border: calc(1.15 / 16 * 1rem) solid rgba(255, 255, 255, 1);
}
.login-custom{
    display: flex;
    justify-self: center;
   
}
.login-text{
    width: calc(150/16 *1rem);
height: calc(17/16 *1rem);
margin-top: calc(40/16*1rem);
left: calc(120/16*1rem);
opacity: 1;

}
/* rounded-lg overflow-hidden */

.login-text-font{
 margin-right: 10%;
font-weight: 600;
font-style: SemiBold;
font-size:calc(18/16*1rem);

line-height: 140%;
/* letter-spacing: 0%; */
text-align: center;
vertical-align: middle;

}

.line{
width:20%;
 height:1px;
 margin: auto;
 background-color: rgba(255, 255, 255, 1);
   /* border: 2px rgba(255, 255, 255, 1); */
   margin-top: .75rem;

}

.userNameBlock {
  width: calc(572.77880859375 / 16 * 1rem);
  height: calc(75.60680389404297 / 16 * 1rem);
  top: calc(283.05 / 16 * 1rem);
  left: calc(6.87 / 16 * 1rem);
  opacity: 1;
}

.userNameLayout {
  width: calc(463.9508361816406 / 16 * 1rem);
  height: calc(12.601134300231934 / 16 * 1rem);
  top: calc(-0.57 / 16 * 1rem);
  left: calc(7.5 / 16 * 1rem);
  opacity: 1;
}
.userNameTypography {
  font-weight: 500;
  font-style: Medium;
  font-size: calc(16.04 / 16 * 1rem);
  line-height: 100%;
  vertical-align: middle;
}

.userNamefield {
  width:100%;
  height: calc(40.404537200927734 / 16 * 1rem);
  top: calc(25.2 / 16 * 1rem);
  left: calc(7.45 / 16 * 1rem);
  opacity: 1;
  border-radius: calc(11.46 / 16 * 1rem);
  border-width: calc(1.15 / 16 * 1rem);
  background: rgba(32, 11, 51, 1);
  border: calc(1.15 / 16 * 1rem) solid rgba(228, 160, 45, 1);
}

.passwordNameBlock {
  width: calc(572.77880859375 / 16 * 1rem);
  height: calc(75.60680389404297 / 16 * 1rem);
  opacity: 1;
  gap: calc(17.18 / 16 * 1rem);
}

.passwordlabelLayout {
  width: calc(463.9508361816406 / 16 * 1rem);
  height: calc(12.601134300231934 / 16 * 1rem);
  top: calc(-1.15 / 16 * 1rem);
  left: calc(-0.57 / 16 * 1rem);
  opacity: 1;
}
.passwordInput {
  width: 100%;
  height: calc(40.404537200927734 / 16 * 1rem);
  top: calc(25.78 / 16 * 1rem);
  left: calc(-0.57 / 16 * 1rem);
  opacity: 1;
  border-radius: calc(11.46 / 16 * 1rem);
  border-width: calc(1.15 / 16 * 1rem);
  background: rgba(44, 14, 72, 1);
  border: calc(1.15 / 16 * 1rem) solid rgba(255, 255, 255, 0.38);
}

.forgot {
  width: 100%;
  height: calc(20.620037078857422 / 16 * 1rem);
  font-weight: 400;
  font-style: Regular;
  font-size: calc(18.33 / 16 * 1rem);
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  /* background-color: rgba(255, 255, 255, 1); */
  box-shadow: 0 calc(4.58 / 16 * 1rem) calc(4.58 / 16 * 1rem) 0 rgba(0, 0, 0, 0.25);
}
.LoginBtn {
  width: calc(380 / 16 * 1rem);
  height: calc(52 / 16 * 1rem);
  margin-top: 12%;
  /* top: calc(614 / 16 * 1rem); */
  left: calc(61 / 16 * 1rem);
  opacity: 1;
  border-radius: calc(10 / 16 * 1rem);
  background-color: rgba(66, 3, 86, 1);
}

.loginTxt {
  width: calc(80 / 16 * 1rem);
  height: calc(31 / 16 * 1rem);
  top: calc(10 / 16 * 1rem);
  left: calc(192 / 16 * 1rem);
  opacity: 1;
  font-weight: 600;
  font-style: SemiBold;
  font-size: calc(20.62 / 16 * 1rem);
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
}


.notAccount {
  width: calc(270.3515930175781 / 16 * 1rem);
  height: calc(19.47447967529297 / 16 * 1rem);
  margin-top: calc(693 / 16 * 1rem);
  left: calc(160 / 16 * 1rem);
  opacity: 1;
  gap: calc(4.58 / 16 * 1rem);
  margin: auto;
}

.notAccountLft {
  width: calc(197.67459106445312 / 16 * 1rem);
  height: calc(12.601134300231934 / 16 * 1rem);
  opacity: 1;
  font-weight: 400;
  font-style: Regular;
  font-size: calc(16.04 / 16 * 1rem);
  line-height: 100%;
  vertical-align: middle;
  /* background-color: rgba(255, 255, 255, 1); */
  box-shadow: 0 calc(4.58 / 16 * 1rem) calc(4.58 / 16 * 1rem) 0 rgba(0, 0, 0, 0.25);
}


.notAccountRgt {
  width: calc(72.90232849121094 / 16 * 1rem);
  height: calc(12.601134300231934 / 16 * 1rem);
  opacity: 1;
  font-weight: 500;
  font-style: Medium;
  font-size: calc(18.33 / 16 * 1rem);
  line-height: 100%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgba(222, 151, 0, 1);
  box-shadow: 0 calc(4.58 / 16 * 1rem) calc(4.58 / 16 * 1rem) 0 rgba(0, 0, 0, 0.25);
}
}
@layer utilities{
  /* .SignupRight{
@apply  
  } */
  /* .RIghtSignUp{
@apply 
  } */
  /* .Singupfont {
 @apply 
  } */
  /* .secdiv{
    @apply 
  } */

  /* .singuptwo{
    @apply 
  } */
  .line2{
    @apply w-[10%] bg-white h-0.5 mt-5 ml-2 mr-2
  }
/* .SignUpDiv{
  @apply 
} */
.inputfield{
@apply h-[calc(36/16*1rem)] rounded-xl  bg-[#2C0E48] border border-white focus:outline-none focus:border-[#E4A02D] focus:ring-0
}
/* .signupBtn{
@apply 
} */
/* .logout-Modal{
  @apply 
} */
/* .userDetailsModal{
 @apply 
} */

.inputfield2{
@apply h-[calc(36/16*1rem)] rounded-xl  bg-[#2C0E48] border border-white focus:outline-none focus:border-[#E4A02D] focus:ring-0 p-4 w-full min-w-[450px]
}
.saveBtn{
  @apply mx-auto w-[10%] h-[calc(40/16*1rem)] mt-4 rounded-2xl text-[#FFBD0B] bg-[#420356] flex justify-center items-center
}
}