
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import "tailwindcss";

 
button:hover {
  border-color: #646cff;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (min-width:1024px) and (max-width:1300px){
  :root{
    font-size: 14px;
  }

}

@media (min-width:650px) and (max-width:1023px){
  :root{
    font-size: 14px;
  }

}

@media (min-width:0px) and (max-width:649px){
  :root{
    font-size: 10px;
  }

} */

:root{
  font-family:'Poppins'
}

body,html{
  overflow: hidden;
}
@layer base {
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px var(--color-input-bg) inset !important;
    -webkit-text-fill-color: rgb(239, 239, 239) !important;
  }
}
select {
  @apply w-full border border-solid rounded-md p-1 bg-input-bg
}

@theme{
  --color-signupBtn:#420356;
    --main-border:1px ;
    --color-saveBtn:#FFBD0B; 
    --color-saveBtnBg:#420356;
    --color-main-border: #E4A02D;
    --color-input-bg: #2C0E48;
    --color-userDetails-bg:#200B33;
    --color-notAccountTxt:#de9700;
     --text-shadow-soft: 0 0.286rem 0.286rem rgba(0,0,0,0.25);
    --color-loginBtnBg:#420356;
    --color-left-bg:#200B33;
    --color-overlaybg:#000000;
    --font-poppins:"Poppins";
    --border-columnhead:linear-gradient(90deg, #F2C21B 0%, #C16B08 100%);
}


@layer components{

   .app-header {
    @apply fixed top-0 left-0 w-screen h-16
           flex items-center justify-between
           px-6 z-0;
  }
   /* .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(64 / 16 * 1rem);
    z-index:0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-inline: calc(24 / 16 * 1rem);
  } */

/* .app-header button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #19ab1b;
  cursor: pointer;
  transition: border-color 0.25s;
} */

/* .app-header-Btn{
  @apply rouned-[.5rem] border-solid border-transparent px-[.6rem] py-[1.2em] text-[1em] font-medium 
} */
  .app-header-right {
    @apply
    flex gap-4 items-center
    /* display: flex;
    gap: calc(16 / 16 * 1rem);
    align-items: center; */
  }

  /* .app-header-offset {
    padding-top: calc(64 / 16 * 1rem);
  } */

.modal-box{
    @apply max-w-[60vw] h-auto flex rounded-[2%] bg-left-bg
}
/* .overlay{
    position: fixed;
    
    inset:0px;
  z-index:20;
    background-color:blanchedalmond;

    
    display:flex;
     justify-content:center;
     align-items: center;
} */
.overlay {
  @apply fixed inset-0 z-20 flex items-center justify-center backdrop-blur-sm;
  background-color: rgba(0, 0, 0, 0.35);


  /* position: fixed;
  inset: 0;
  z-index: 50; */

  /* dark transparent background */
  /* background: rgba(0, 0, 0, 0.45); */

  /* blur background content */
  /* backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */

  /* center modal */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.login{

  @apply  text-[1.6rem] text-center font-semibold top-[6rem]
    /* width: calc(300/16*1rem); */
/* font-size: calc(27/16*1rem); */
/* display: flex; */
/* justify-content: center;
align-items: center; */
/* text-align: center;
vertical-align: middle;
font-weight: 600;
top: calc(100/16*1rem); */

}
/* .login-border{
    border: calc(1.15 / 16 * 1rem) solid rgba(255, 255, 255, 1);
} */
.login-custom{
  @apply flex justify-center
    /* display: flex;
    justify-self: center; */
   
}
.login-text{
  @apply w-[9.5rem] h-[1.1rem] mt-[2.3rem] left-[7rem] opacity-100
/*   
    width: calc(150/16 *1rem);
height: calc(17/16 *1rem);
margin-top: calc(40/16*1rem);
left: calc(120/16*1rem);
opacity: 1; */

}
/* rounded-lg overflow-hidden */

.login-text-font{
  @apply font-semibold text-[1.1rem] leading-[140%] text-center
/* font-weight: 600;
font-style: SemiBold;
font-size:1.1rem;

line-height: 140%; */
/* letter-spacing: 0%; */
/* text-align: center; */


}

.line{
  @apply w-[1rem] h-[1px] bg-white mt-[.75rem] 
/* width:20%; */
 /* height:1px; */
 /* margin: auto; */
 /* background-color: rgba(255, 255, 255, 1); */
   /* border: 2px rgba(255, 255, 255, 1); */
   /* margin-top: .75rem; */

}




/* .passwordlabelLayout {
  width: calc(463.9508361816406 / 16 * 1rem);
  height: calc(12.601134300231934 / 16 * 1rem);
  top: calc(-1.15 / 16 * 1rem);
  left: calc(-0.57 / 16 * 1rem);
  opacity: 1;
} */
/* .passwordInput {
  width: 100%;
  height: calc(40.404537200927734 / 16 * 1rem);
  top: calc(25.78 / 16 * 1rem);
  left: calc(-0.57 / 16 * 1rem);
  opacity: 1;
  border-radius: calc(11.46 / 16 * 1rem);
  border-width: calc(1.15 / 16 * 1rem);
  background: rgba(44, 14, 72, 1);
  border: calc(1.15 / 16 * 1rem) solid rgba(255, 255, 255, 0.38);
} */

/* .forgot {
  width: 100%;
  height: calc(20.620037078857422 / 16 * 1rem);
  font-weight: 400;
  font-style: Regular;
  font-size: calc(18.33 / 16 * 1rem);
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid; */
  /* background-color: rgba(255, 255, 255, 1); */
  /* box-shadow: 0 calc(4.58 / 16 * 1rem) calc(4.58 / 16 * 1rem) 0 rgba(0, 0, 0, 0.25);
} */

 .text-shadow-soft {
    text-shadow: var(--text-shadow-soft);
  }

.LoginBtn {
  @apply w-[80%] h-[3.2rem] left-[3.8rem] opacity-100 rounded-[.8rem] bg-loginBtnBg 

  /* width: 80%;
  height: calc(52 / 16 * 1rem); */
  /* top: calc(614 / 16 * 1rem); */
  /* left: calc(61 / 16 * 1rem);
  opacity: 1;
  border-radius: calc(10 / 16 * 1rem);
  background-color: rgba(66, 3, 86, 1); */
}

.notAccount {
  @apply w-full h-[1.3rem] mt-[43rem]  opacity-100 gap-0.5

  /* width: 17rem;
  height: calc(19.47447967529297 / 16 * 1rem);
  margin-top: calc(693 / 16 * 1rem);
  left: 10rem;
  opacity: 1;
  gap: 2px;
  margin: auto; */
}

.notAccountLft {
  @apply  opacity-100 font-normal text-[1rem] leading-[100%] text-shadow-soft


  /* height: calc(12.601134300231934 / 16 * 1rem);
  opacity: 1;
  font-weight: 400;
  font-style: Regular;
  font-size: calc(16.04 / 16 * 1rem);
  line-height: 100%;
  vertical-align: middle; */
  /* background-color: rgba(255, 255, 255, 1); */
  /* text-shadow: 0 calc(4.58 / 16 * 1rem) calc(4.58 / 16 * 1rem) 0 rgba(0, 0, 0, 0.25); */
}


.notAccountRgt {
@apply  font-medium text-[1.1rem] leading-[100%] underline decoration-solid text-shadow-soft text-notAccountTxt


  /* width: calc(72.90232849121094 / 16 * 1rem);
  height: calc(12.601134300231934 / 16 * 1rem);
  opacity: 1;
  font-weight: 500;
  font-style: Medium;
  font-size: calc(18.33 / 16 * 1rem);
  line-height: 100%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgba(222, 151, 0, 1);
  box-shadow: 0 calc(4.58 / 16 * 1rem) calc(4.58 / 16 * 1rem) 0 rgba(0, 0, 0, 0.25); */
}
  .line2{
    @apply w-[10%] bg-white h-0.5 mt-4 
  }

  .inputfield{
@apply h-[1.8rem] rounded-md  bg-input-bg border border-white focus:outline-none focus:border-main-border focus:ring-0
}

.inputfield2{
@apply sm:h-8 h-6 rounded-md  bg-input-bg border border-white focus:outline-none focus:border-main-border focus:ring-0 p-4 w-full lg:w-full xl:min-w-[25.12rem] 
}

.saveBtn{
  @apply mx-auto w-[20%] h-[2.4rem] mt-4 rounded-2xl text-saveBtn bg-saveBtnBg flex justify-center items-center
}
.select{
  @apply  w-full border border-solid rounded-md p-1 bg-input-bg
}
.mainBtn{
  @apply p-1 h-[40px] w-full mt-4 rounded-full bg-input-bg
}

/* .columnhead {
  @apply w-[18rem] h-[4rem] rounded-[20px] border-2 border-transparent;
  background:
    #420356 padding-box, 
    linear-gradient(90deg, #F2C21B 0%, #C16B08 100%) border-box;
} */
.columnhead {
  

  height: 4rem;
  border-radius: 20px;
  border: 2px solid transparent;

  background:
    linear-gradient(#420356, #420356) padding-box,
    linear-gradient(90deg, #F2C21B 0%, #C16B08 100%) border-box;
}

.boxLayout {
  width: 19.15rem;
  height: 11.9rem;
  border-radius: 19.62px;

  /* Background */
  background: radial-gradient(
    169.23% 169.23% at 41.47% -28.17%,
    #461446 0%,
    #2C063F 55.66%,
    #A419A7 100%
  );

  /* Border */
  border: 1.96px solid transparent;
  background-clip: padding-box;
  position: relative;
}

.boxLayout::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1.96px;
  background: linear-gradient(
    0deg,
    rgba(115, 22, 117, 0.59),
    rgba(115, 22, 117, 0.59)
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}


.columnheadTxt{
  @apply  h-[2rem] text-[1.8rem] 
}

.column{
 @apply lg:w-[19.5rem]  h-[45.5rem] top-[2rem] left-[2.2rem]
}
/* 
.columnMain{
  @apply w-[23.8rem] h-[47.9rem] rounded-[20px] top-[3.8rem] left-[7.8rem]
  width: 
height: 767;
border-radius: 20px;
angle: 0 deg;
opacity: 1;
top: 60px;
left: 115px;
width: 381;
height: 767;
border-radius: 20px;
angle: 0 deg;
opacity: 1;
top: 60px;
left: 115px;

}*/
} 



/* @layer utilities{ */
  /* .SignupRight{
@apply  
  } */
  /* .RIghtSignUp{
@apply 
  } */
  /* .Singupfont {
 @apply 
  } */
  /* .secdiv{
    @apply 
  } */

  /* .singuptwo{
    @apply 
  } */

   /* .text-shadow-soft {
    text-shadow: var(--TxtShadow);
  } */

/* .SignUpDiv{
  @apply 
} */

/* .signupBtn{
@apply 
} */
/* .logout-Modal{
  @apply 
} */
/* .userDetailsModal{
 @apply 
} */



/* } */